body {
    .mod-mobile {
        display: none;
    }

    @media (max-width: 1025px) {
        .mod-mobile {
            display: block;
        }

        .mod-desktop {
            display: none;
        }
    }
}



.pwspfwc_popup_modal {
    color: #000;
}

.wcl-tsparticles {
    z-index: -1;
    position: absolute;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    max-height: 100%;
    min-height: 100vh;
}









$grey: rgba(#fff, 1);
$blue: rgba(#b54dff, 1);

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
        padding: 4px;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
        border-top-color: $grey;
    }

    50% {
        transform: rotate(180deg);
        border-top-color: $blue;
    }

    100% {
        transform: rotate(360deg);
        border-top-color: $grey;
    }
}

@mixin loaderDivMixin {
    border-radius: 50%;
    padding: 8px;
    border: 2px solid transparent;
    animation: rotate linear 3.5s infinite;
}


@keyframes scale_up {
    0% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1.2);
    }
}

.preloader {
    animation: scale_up 1s ease 1 forwards;
}

.preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    display: block;
    overflow: hidden;

    div {
        height: 100%;
    }
}

/* loader 1 */
.loader1,
.loader1 div {
    @include loaderDivMixin;
    border-top-color: $grey;
    border-bottom-color: $blue;
}

.loader,
.loader * {
    will-change: transform;
}


.cmp-banner {
    margin-top: 50px;
    margin-bottom: 50px;

    .data {
        &-item {
            max-width: 800px;
            margin: 0 auto;
            margin-bottom: 10px;
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-video{
            width: 100%;
            video{
                height: 125px;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}