.sct-thank-you {
    margin-top: 55px;

    .data-img-mobile {
        display: none;
    }

    .data {
        &-container {
            max-width: 1495px;
            margin: 0 auto;
        }

        &-title {
            color: #FFF;
            text-align: center;
            font-family: "Integral-CF-Oblique";
            font-size: 96px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            max-width: 900px;
            margin: 0 auto;
        }

        &-img {
            max-width: 640px;
            margin: 0 auto;
            margin-top: -59px;

            &.mod-one {
                max-width: unset;
                margin-top: 30px;
            }
        }

        &-b1 {
            margin-top: 55px;

            &-inner {
                height: 100%;
                padding: 30px 35px;
                border-radius: 10px;
                border: 1px solid #252527;
                background: radial-gradient(50% 50% at 50% 50%, #111 0%, #161616 100%);
            }
        }

        &-row {
            display: flex;
            margin: 0 -15px;
        }

        &-col {
            width: 50%;
            padding: 0 15px;

            &:nth-child(1) {
                width: 40%;
            }

            &:nth-child(2) {
                width: 60%;
            }
        }

        &-link {
            margin-top: 55px;
            margin-left: 40%;
            padding-left: 15px;

            a {
                width: auto;
            }
        }

        &-b2 {
            display: flex;
            align-items: center;
            column-gap: 15px;

            a {
                text-decoration: none;
            }

            &-img {
                border-radius: 10px;
                overflow: hidden;
                flex-shrink: 0;

                width: 102px;
                height: 68px;
                object-fit: cover;
            }

            &-quantity {
                color: #E10000;
                font-weight: 800;
            }
        }

        &-table {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            width: 100%;
            margin-bottom: 55px;

            tr {
                &:last-child {

                    th,
                    td {
                        padding-bottom: 0;
                    }
                }
            }

            strong {
                font-weight: 800;
            }

            &.mod-order {
                thead {
                    th {
                        padding-bottom: 20px;
                    }
                }

                tfoot {
                    tr {
                        &:first-child {
                            border-top: 1px solid #252527;

                            td {
                                padding-top: 20px;
                            }
                        }

                        &:last-child {

                            td,
                            th {
                                padding-bottom: 0;
                            }
                        }

                        td,
                        th {
                            padding-top: 0;
                            padding-bottom: 15px;
                        }
                    }
                }

                .data-table-item {
                    &.mod-product {
                        border-top: 1px solid #252527;

                        td {
                            padding-top: 20px;
                            padding-bottom: 20px;
                            vertical-align: middle;
                        }
                    }
                }
            }


            &:last-child {
                margin-bottom: 0;
            }

            &-title {
                font-family: "Integral-CF-Oblique";
                color: #FFF;
                font-size: 24px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;

                padding-bottom: 30px;
                border-bottom: 1px solid #252527;
                margin-bottom: 30px;
            }

            th,
            td {
                padding-bottom: 15px;

                &:first-child {
                    text-align: left;
                }

                &:nth-child(2) {
                    text-align: right;
                }
            }
        }
    }


    @media (max-width: 1450px) {
        .data {
            &-title {
                font-size: 6.7vw;
            }

            &-img {
                max-width: 44.3vw;
                margin-top: -4vw;
            }
        }
    }


    @media (max-width: 1200px) {
        .data {
            &-col {

                &:nth-child(1) {
                    width: 50%;
                }

                &:nth-child(2) {
                    width: 50%;
                }
            }
        }
    }

    @media (max-width: 1025px) {
        .data {
            &-row {
                flex-wrap: wrap;
                row-gap: 30px;
            }

            &-col {
                width: 100%;

                &:nth-child(1) {
                    width: 100%;
                }

                &:nth-child(2) {
                    width: 100%;
                }
            }

            &-link {
                margin: 0 auto;
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    @media (max-width: 767px) {
        margin-top: 25px;

        .data-b1 {
            margin-top: 35px;
        }

        .data-title {
            font-size: 48px;
            max-width: 351px;
            margin: 0 auto;

            br {
                display: none;
            }
        }
    }

    @media (max-width: 575px) {
        margin-top: 15px;

        .data-row {
            row-gap: 15px;
        }

        .data-table td {
            padding-top: 0;
            padding-bottom: 15px;
        }

        .data-b1-inner {
            padding: 20px 25px 35px;
        }

        .data-img.mod-one {
            margin: 0 -48px;
            margin-top: 15px;
        }

        .data-b1 {
            margin-top: 30px;
        }

        .data-img-mobile {
            display: block;
        }

        .data-img-desktop {
            display: none;
        }

        .data-table-title {
            font-size: 24px;
            padding-bottom: 20px;
            border-bottom: 1px solid #252527;
            margin-bottom: 20px;
        }

        .data-table {
            font-size: 16px;
            margin-bottom: 30px;
        }

        .data-table-title {
            font-size: 20px;
        }

        .data-table.mod-order .data-table-item.mod-product td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .data-table.mod-order tfoot tr:last-child td {
            padding-top: 15px;
        }


        .sct-thank-you .data-table.mod-order tfoot tr:nth-last-child(2) td {
            &:last-child {
                min-width: 140px;
            }
        }

        .data-table {
            font-size: 14px;

            td {
                &:nth-child(2) {
                    font-size: 16px;
                }
            }

            td {}
        }

        .data-table.mod-order tfoot tr:first-child td {
            padding-top: 10px;
        }

        .data-table.mod-order thead th {
            padding-bottom: 10px;
            font-size: 14px;

            &:nth-child(2) {
                font-size: 16px;
            }
        }

        .data-b2 {
            align-items: flex-start;
        }

        .data-b2-img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            overflow: hidden;
        }

        .data-table.mod-order .data-table-item.mod-product td {
            vertical-align: top;
        }

        .data-link {
            padding: 0;
            margin-top: 0;
        }

        .data-link a {
            margin-top: 15px;
            width: 100%;
        }
    }
}



.woocommerce-order-received {
    // .wcl-page {
    //     margin-bottom: 105px;
    // }
}

@media (max-width: 575px) {
    .woocommerce-order-received .wcl-page {
        //   margin-bottom: 50px;
    }
}